
@{
    ViewData["Title"] = "ListarHistorial";
    Layout = "_LayoutDoctor";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />
</head>

<div class="text-center" style="background-color: #1f53c5;width:70%;border-radius:12px;box-shadow:10px;margin-left:15%;font-family:trueno">
    <h1 style="margin-bottom:2%;color:white;padding:1%"><strong>Listado de Historiales</strong></h1>
</div>

<table class="table" id="ListarHistorial" style="font-family: trueno">
    <thead>
        <tr class="text-center text-uppercase">
            <th>Fecha</th>
            <th>Hora</th>
            <th>Doctor</th>
            <th></th>
        


        </tr>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.Historias)
        {
        <tr class="text-center  ">
            <td>
                @item.fecha.ToShortDateString()
            </td>

            
                @foreach (var x in ViewBag.Horarios)
            {
                @if (item.cita.idHorario == x.idHorario)
                {
                    <td>
                        @x.horaInicio - @x.horaFin
                    </td>

                }
            }

                @foreach (var x in ViewBag.Doctors)
                {
                    @if (item.cita.idDoctor == x.idDoctor)
                    {
                        <td>
                            @x.nombres @x.apellidos
                        </td>

                    }
                }
             <td>
                 <a class="btn btn-primary" href="/Doctor/DetalleCita?id=@item.idCita">Ver resultados</a>
             </td>
               
            </tr>
        }
    </tbody>

</table>

<a class="btn btn-primary" href="/Doctor/ListaClientes">Regresar</a>



@section Scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ListarHistorial').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            });
        });
    </script>
}