
@model DentoWebMVC.Models.DentoWeb.Cliente

@{
    ViewData["Title"] = "ClientePerfil";

}


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="mestrada">
    <link rel="stylesheet" href="~/css/loginStyle.css" />
</head>


<body style="background-image: url(https://gacetadental.com/wp-content/uploads/2019/09/dentista-paciente-1280x720.jpg); background-size:cover;">
    <div class="row">
        <div class="container">
            <form style="padding-left:30%;padding-right:30%;padding-top:4%;">
                <div class=" controls form-row" style="font-family: trueno">
                    
                    <div style="background-color: #1f53c5;width:70%;margin-left:15%;margin-top:1%;margin-bottom:2%;border-radius:12px" class="text-center">
                        <h1 class="control-label" style="font-family:'calibri';font-size:300%;color:white"><strong>Mi perfil</strong></h1>
                    </div>

                    <label style="font-family:'calibri';font-size:150%; padding-left:3%"><strong>Nombre:</strong></label>
                    <div class=" col-md-12" style="text-align:center">
                        <label class="control-label" style="font-size:120%">@ViewBag.User.nombres @ViewBag.User.apellidos</label>
                    </div>
                    <label style="font-family:'calibri';font-size:150%; padding-left:3%"><strong>DNI:</strong></label>
                    <div class=" col-md-12" style="text-align:center">
                        <label class="control-label" style="font-size:120%">@ViewBag.User.dni</label>
                    </div>
                    <label style="font-family:'calibri';font-size:150%; padding-left:3%"><strong>Fecha de Nacimiento:</strong></label>
                    <div class=" col-md-12" style="text-align:center">
                        <label class="control-label" style="font-size:120%">@ViewBag.User.fechaNac.ToString("dd-MM-yyyy")</label>
                    </div>
                    <label style="font-family:'calibri';font-size:150%; padding-left:3%"><strong>Correo:</strong></label>
                    <div class=" col-md-12" style="text-align:center">
                        <label class="control-label" style="font-size:120%">@ViewBag.User.correo</label>
                    </div>
                    <label style="font-family:'calibri';font-size:150%; padding-left:3%"><strong>Teléfono:</strong></label>
                    <div class=" col-md-12" style="text-align:center">
                        <label class="control-label" style="font-size:120%">@ViewBag.User.telefono</label>
                    </div>
                    <div class="form-group text-center" style="padding-left:26%; padding-top:5%">
                        <a href="/Cliente/Index" class="btn btn-primary">
                            <i class="fas fa-check"></i>  Aceptar
                        </a>
                        <a href="/Cliente/EditarPaciente?id=@ViewBag.Id" class="btn btn-secondary">
                            <i class="fas fa-pen"></i>  Editar
                        </a>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</body>

