
@model DentoWebMVC.Models.DentoWeb.Cliente

@{ ViewData["Title"] = "Index";
    Layout = "_Layout";}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="mestrada">

    <link rel="stylesheet" href="~/css/loginStyle.css" />
</head>


@if (TempData["CitaCreada"] != null)
{
<div style="padding:1.5%">
    <button class="btn btn-primary" style="width:100%">@TempData["CitaCreada"]</button>
</div>}
@if (TempData["CitaNoCreada"] != null)
{
<div style="padding:1.5%">
    <button class="btn btn-danger" style="width:100%">@TempData["CitaNoCreada"]</button>
</div>}


@if (TempData["CitasNull"] == null)
{
<div class="text-center" style="background-color: #1f53c5;width:70%;border-radius:12px;box-shadow:10px;margin-left:15%">
    <h1 style="margin-bottom:2%;color:white;padding:1%;font-family:trueno"><strong>Citas de @ViewBag.User.nombres @ViewBag.User.apellidos</strong></h1>
</div>
      <table class="table table-hover" style="border-radius:15px;border:none;font-family:Trueno" id="IndexCliente">

            <thead class="card-header">
                <tr style="text-align:center">
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Doctor</th>
                    <th>Estado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in ViewBag.Citas)
                {

                    <tr style="text-align:center;">
                        <td>@item.fecha.ToShortDateString()</td>
                        <td>
                            @item.horario.horaInicio - @item.horario.horaFin
                        </td>
                        <td>
                            @item.doctor.nombres @item.doctor.apellidos
                        </td>
                        <td>
                            @if (item.estado == "ATENDIDO")
                            {
                                <strong style="color:cornflowerblue;">ATENDIDA</strong>}
                            @if (item.estado == "CANCELADA")
                            {
                                <strong style="color:red">CANCELADA</strong>}

                            @if (item.estado == "PENDIENTE" && item.fecha.AddDays(-1) >= DateTime.Now.AddDays(-1))
                            {
                                <strong style="color:green">PENDIENTE</strong>}
                        </td>
                        <td>
                            @if (item.estado == "ATENDIDO" && item.pago == "true")
                            {
                                <a href="/Cliente/DetalleCitaPaciente?id=@item.idCita" class="btn btn-info" style="margin-left:12%">Ver resultados</a>}

                            @if (item.estado == "PENDIENTE" && item.fecha.AddDays(-1) >= DateTime.Now.AddDays(-1))
                            {
                                <a class="btn btn-danger" href="/Cliente/CancelarCita?id=@item.idCita" style="margin-left:11%">Cancelar cita</a>}
                        </td>
                        <td>
                            @if (item.estado == "ATENDIDO" && item.pago == "false")
                            {
                                <a href="/Cliente/RealizarPago?id=@item.idCita" class="btn btn-secondary" style="margin-left:12%">Realizar Pago</a> }
                            else if (item.estado == "ATENDIDO" && item.pago == "true")
                            {
                                <a href="/Cliente/Boleta?id=@item.idCita" class="btn btn-warning">Ver Boleta</a>}

                        </td>
                    </tr>
                    }
            </tbody>
</table>}                  
@if (TempData["CitasNull"] != null)
{
    <div class="text-center" style="background-color: #1f53c5;width:70%;border-radius:12px;box-shadow:10px;margin-left:15%">
        <h1 style="margin-bottom:2%;color:white;padding:1%;font-family:trueno"><strong>Citas de @ViewBag.User.nombres @ViewBag.User.apellidos</strong></h1>
    </div>
    <button class="btn btn-danger text-light text-center" style="width:100%">@TempData["CitasNull"]</button>
    
    <a href="/Cliente/CreateCita" class="btn btn-primary text-light text-center" style="width:100%;margin-top:2%">Separa tu Cita</a>
<br />}


@section Scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
    <script type="text/javascript">$(document).ready(function () {
            $('#IndexCliente').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            });
        });</script>
}